@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/style-signup-login.css">
<h1>@ViewData["Title"]</h1>

<section class="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="left-box">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h1>Registrati</h1>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control input-box" placeholder="Email"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control input-box"  placeholder="Enter Password"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control input-box"  placeholder="Re-enter Password"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="submit" class="submit-btn btn btn-primary" value="Sign up"/>
                    </form>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="right-box">
                    <span class="right-title"> Sign up with <br>Social Network</span>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <button class="social facebook">To Be Configured</button>
                            <button class="social twitter">To Be Configured</button>
                            <button class="social google">To Be Configured</button>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>


          

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
